.border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: 20px 0px;
}

.border .btn-div .cancel {
  background-color: #ff2525;
  color: white;
  width: 100% !important;
  max-width: none !important;
}
.offered-nft .add-bnb h1 {
  font-size: 20px;
  color: white;
  font-weight: 400;
  text-align: center;
}
.offered-nft .add-bnb p {
  color: rgba(255, 255, 255, 0.2);
}
