.App {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
}
.connected-address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  position: absolute;
  top: 40px;
  right: 2%;
  color: white;
}
.connected-address h2 {
  font-size: 14px;
}
.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
@media screen and (max-width: 1117px) {
  .App {
    grid-template-rows: auto 1fr;
    row-gap: 20px;
    grid-template-areas:
      "sidebar sidebar"
      "main main";
    height: auto;
    min-height: 100vh;
  }
  .connected-address {
    top: 35px;
    right: 20px;
  }
}
